lua_shared_dict luameter 1m;
lua_package_path "${LUAMETER_DIRECTORY}/luajit/?.luac";
init_by_lua "luameter = require 'luameter'";
log_by_lua "luameter.mark(ngx.var.server_port); luameter.mark(ngx.var.server_name)";
server {
    listen 8001;

    location / {
        root ${LUAMETER_DIRECTORY};
        index luameter.html;
    }

    location /stats {
        content_by_lua "luameter.get_stats('/stats');";
        expires -1;
    }
}

